* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dream Shore';
    src: url('Dream\ Shore.ttf');
    format: ('ttf');
}

@font-face {
    font-family: 'Barbarian';
    src: url('Barbarian.ttf');
    format: ('ttf');
}

@font-face {
    font-family: 'TrashHand';
    src: url('TrashHand.TTF');
    format: ('ttf');
}

@font-face {
    font-family: 'Easy Messy';
    src: url('Easy\ Messy.ttf');
    format: ('ttf');
} 

@font-face {
    font-family: 'digital 7';
    src: url('digital-7.ttf');
}
body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 5, 184);
    color: white;

}

h1 {
    font-family: 'Easy Messy', sans-serif;
    font-size: 60px;
    margin: 80px 0 70px;
}

div {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 150px;
    margin: auto;

}

#clock {
    font-family: 'digital 7', sans-serif;
    font-size: 60px;
    text-align: center;
}

p {
    font-family: 'Dream Shore';
    margin-top: 50px;
    font-size: 30px;
}